---
const { details } = Astro.props;

const containerClass = `grid grid-cols-1 lg:grid-cols-${details.length}`;
---

<section class="bg-yellow-300 py-20">
  <div class="mx-auto container">
    <div class={containerClass}>
      {
        details.map((DS) => (
          <div class="w-full">
            <>
              <div class="flex flex-col items-center px-20 py-20 [&>*]:pb-4">
                <div>
                  <img
                    alt="hand drawn credit card illustration"
                    src={DS.image}
                  />
                </div>
                <h2 class="text-center text-5xl font-bold">ORDER ONLINE</h2>
                <p class="text-center">{DS.body}</p>
                <div class="flex justify-center">
                  <a
                    href={DS.link}
                    class="text-white bg-[#00b74f] focus:ring-4 font-medium rounded-lg text-lg px-5 py-5">
                    {DS.button}
                  </a>
                </div>
              </div>
            </>
          </div>
        ))
      }
    </div>
  </div>
</section>
