---
// Imports
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import Container from "@components/container.astro";
import "@fontsource/inter/variable.css";
import Banner from "@components/banner.astro";
import { Image } from "@astrojs/image/components";

// Props
export interface Props {
  title: string;
}

// Variables
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Cafe Mars"
  : "Cafe Mars - An Unusual Italian Restaraunt";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon_amzzwi.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <SEO
      title={makeTitle}
      description="Cafe Mars - An Unusual Italian Restaraunt"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Cafe Mars - An Unusual Italian Restaraunt`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Cafe Mars Home Page",
        },
      }}
    />
  </head>
  <body class="text-black font-helevetica">
    <!-- Navbar -->
    <Navbar />

    <!-- Main content -->
    <Banner bannerTitle={frontmatter.title} />
    <Container>
      <Image
        src={frontmatter.mainImage}
        alt=""
        class="w-4/5"
        width={1600}
        aspectRatio="16:9"
      />
      <article class="prose lg:prose-xl py-16 font-normal">
        <slot />
      </article>
    </Container>

    <!-- Footer -->
    <Footer />

    <!-- Mouse circle -->
    <div
      id="mouse-circle"
      class="md:cursor-invert md:transition-[width] md:duration-700">
    </div>

    <!-- Global styles -->
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>

    <!-- JavaScript -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        let mousePosX = 0,
          mousePosY = 0,
          mouseCircle = document.getElementById("mouse-circle");
        document.onmousemove = (e) => {
          mousePosX = e.clientX;
          mousePosY = e.clientY;
        };
        let delay = 12,
          revisedMousePosX = 0,
          revisedMousePosY = 0;
        function delayMouseFollow() {
          requestAnimationFrame(delayMouseFollow);
          revisedMousePosX += (mousePosX - revisedMousePosX) / delay;
          revisedMousePosY += (mousePosY - revisedMousePosY) / delay;
          mouseCircle.style.top = revisedMousePosY + "px";
          mouseCircle.style.left = revisedMousePosX + "px";
        }
        delayMouseFollow();

        // Add this code snippet to detect mouse hover over links
        const links = document.querySelectorAll("a");
        links.forEach((link) => {
          link.addEventListener("mouseenter", () => {
            mouseCircle.classList.remove("md:cursor-invert");
            mouseCircle.classList.add("md:cursor-link-hover");
          });
          link.addEventListener("mouseleave", () => {
            mouseCircle.classList.remove("md:cursor-link-hover");
            mouseCircle.classList.add("md:cursor-invert");
          });
        });
      });
    </script>
  </body>
</html>
