---
// Imports
import { getCollection, getEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Image } from "@astrojs/image/components";
import Banner from "@components/banner.astro";

interface menuItemsInterface {
  name: string;
  description: string;
  price: number;
}

interface menuSubsections {
  title: string;
  pastaImage: string;
  menuItems: Array<menuItemsInterface>;
}

interface menuEntriesInterface {
  title: string;
  subsection: Array<menuSubsections>;
  pictureOrText: boolean;
  menuPicture: string;
}

const menuEntries = await getEntry("menus", "entry");
const menuData: menuEntriesInterface[] = menuEntries.data.menuitem;

// Static paths
export async function getStaticPaths() {
  const menuEntries = await getEntry("menus", "entry");
  const menuData: menuEntriesInterface[] = menuEntries.data.menuitem;
  return menuData.map((entry) => ({
    params: { menutype: entry.title.toLowerCase() },
    props: { entry },
  }));
}

// Props
const { entry } = Astro.props;
---

<Layout title={entry.title}>
  <!-- Menu header -->
  <Banner bannerTitle={menuEntries.data.title} />

  <Container>
    <!-- Menu links -->
    <section class="py-5">
      <div class="flex flex-wrap justify-center gap-4 mb-16">
        {
          menuData.map((entry) => (
            <a
              href={`/menu/${entry.title.toLowerCase()}`}
              class="hover:text-white hover:bg-[#00b74f] font-medium rounded-full text-lg px-5 py-2.5 mr-2 mb-2 border-[#00b74f] border-2">
              {entry.title}
            </a>
          ))
        }
      </div>

      <!-- Menu content -->
      {
        entry.isDraft ? (
          <div class="flex justify-center">
            <h1>Coming Soon</h1>
          </div>
        ) : !entry.pictureOrText ? (
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            {entry.subsection.map((s) => (
              <div class="col-span-1">
                <div class="mb-4 flex justify-start overflow-hidden items-center">
                  <h1 class="text-4xl md:text-6xl ">{s.title}</h1>
                  <img
                    src={s.pastaImage}
                    alt=""
                    class="ml-6 min-w-[90px] w-auto max-h-16"
                  />
                </div>
                {s.menuItems.map((item) => (
                  <div class="grid grid-cols-3 mb-4 gap-2">
                    <div class="col-span-2">
                      <p class="float-left text-lg">
                        <strong>{item.name}</strong> {item.description}
                      </p>
                    </div>
                    <div>
                      <p class="float-right text-lg">{item.price}</p>
                    </div>
                  </div>
                ))}
              </div>
            ))}
          </div>
        ) : (
          <div class="flex justify-center">
            <img
              src={entry.menuPicture}
              alt="Menu Image"
              loading="eager"
            />
          </div>
        )
      }
    </section>
  </Container>
</Layout>
